<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context-2.5.xsd
                       http://www.springframework.org/schema/aop
                       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                       http://www.springframework.org/schema/tx
                       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- data source 基本的连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<!--
		<property name="url" value="jdbc:mysql://w.rdc.sae.sina.com.cn:3307/app_mydemo24"/> 
		<property name="username" value="yo45xmk2yw"/>
		<property name="password" value="515k5lj0imx11lihjzh0j31yh0i2l31iwl5mmllw"/>
		-->
		<!--
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=UTF-8"/> 
		<property name="username" value="root"/>
		<property name="password" value=""/>
		-->
		
		<property name="url" value="jdbc:mysql://w.rdc.sae.sina.com.cn:3307/app_wenba"/> 
		<property name="username" value="oj555wx2wz"/>
		<property name="password" value="i2515l3ijzm5k1zi540i4wmm5x202i1m4wx2m5yj"/>
		
		<!--
		<property name="url" value="jdbc:mysql://w.rdc.sae.sina.com.cn:3307/app_jcehelper"/> 
		<property name="username" value="lll1okw2n0"/>
		<property name="password" value="i11kyj4kyh010420i5m22zxlk41423y3iiywhhl0"/>
		-->
		
		<property name="maxWait"            value="1000" />
        <property name="initialSize"        value="5" />
        <property name="maxActive"          value="20" />
        <property name="maxIdle"            value="5" />
        <property name="testWhileIdle"      value="true" />
        <property name="timeBetweenEvictionRunsMillis"  value="15000" />
        <property name="numTestsPerEvictionRun"         value="20" />
        <property name="validationQuery"    value="SELECT 1 FROM DUAL" />
        <property name="removeAbandoned"    value="true" />
        <property name="removeAbandonedTimeout"         value="180" />

		<!-- 
		<property name="url" value="jdbc:mysql://localhost:3306/demo"/> 
		<property name="username" value="root"/>
		<property name="password" value="ushuaia"/>
		<property name="initialSize" value="5"/>
		<property name="maxActive" value="50"/>
		<property name="maxIdle" value="10"/>
		<property name="maxWait" value="20"/>
		<property name="minIdle" value="1"/>
 			-->	
	</bean>
	
	<!-- Hibernate3 Session Factory: 注意这里使用的是AnnotationSessionFactoryBean -->
	<!-- 这里配置后就可以省去Hibernate的与持久类对应的.hbm.xml文件了，持久类使用注释@Entity-->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<!-- 这个属性指明了使用注释的持久类的包-->
		<property name="packagesToScan">
			<list>
				<value>cn.net.msg.model</value>
			</list>
		</property>
	</bean>
	
	<!-- 用于在Dao中使用 -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- Transaction Manager 事务管理器-->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- Annotation Driver: 使用注释事务管理-->
	<!-- 这里配置后将使用注释事务方式，不用再在这个XML文件中配置事务代理对象了 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<!-- 这里配置后就不用再使用bean标签配置bean了 -->
	<context:annotation-config></context:annotation-config>
	<!-- 去哪个包扫描生成bean -->
 	<context:component-scan base-package="cn.net.msg.*" /> 
	
</beans>